<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
    <title>Connor's Redwood</title>
{% endblock %}
    <meta charset="utf-8">
    <meta name="author" content="Connor Couetil">
{% block meta %}
    <meta name="description" content="Connor Couetil is an entrepreneur, analyst, and full-stack developer.  His nest currently holds a resume and portfolio.">
    <meta name="keywords" content="Development,Analytics,Entrepreneurship,Full-Stack,Couetil,Connor,R,Python,JavaScript,C,Java,SQL">
{% endblock %}
{% block styles %}
{% endblock %}
</head>
<body>
{% block pageheader %}{% endblock %}
{% block pagecontent %}{% endblock %}
{% block pagefooter %}{% endblock %}
</body>
</html>
